Repository dotnet/interactive, pull requests merged in 2022-10, with the labels that each got.

#2318 Improve kernel restart experience
  src/dotnet-interactive-vscode-common/src/commands.ts
  src/dotnet-interactive-vscode-common/src/variableExplorer.ts
Labels: Area-VS Code Extension

#2317 use icon for variable explorer sharing
  src/dotnet-interactive-vscode-common/src/variableExplorer.ts
  src/microsoft-dotnet-interactive/src/webview/variableGrid.ts
Labels: Area-VS Code Extension, Area-Variable sharing

#2326 add kernel restart button to toolbar
  src/dotnet-interactive-vscode-common/src/commands.ts
  src/dotnet-interactive-vscode-insiders/package.json
  src/dotnet-interactive-vscode-insiders/resources/dark/restart-kernel.svg
  src/dotnet-interactive-vscode-insiders/resources/light/restart-kernel.svg
  src/dotnet-interactive-vscode/package.json
  src/dotnet-interactive-vscode/resources/dark/restart-kernel.svg
  src/dotnet-interactive-vscode/resources/light/restart-kernel.svg
Labels: Area-VS Code Extension

#2360 update EntityFramework to 6.0.10
  src/Microsoft.DotNet.Interactive.SqlServer/ConnectMsSqlCommand.cs
  src/Microsoft.DotNet.Interactive.SqlServer/Microsoft.DotNet.Interactive.SqlServer.csproj
Labels: bug, Area-SQL / data querying

#2399 retain `dotnet-interactive` prefix on dotnet-specific configs
  eng/package/PackVSCodeExtension.ps1
  src/dotnet-interactive-vscode-ads/package.json
  src/dotnet-interactive-vscode-common/src/commands.ts
  src/dotnet-interactive-vscode-common/src/extension.ts
  src/dotnet-interactive-vscode-insiders/package.json
  src/dotnet-interactive-vscode/package.json
Labels: Area-VS Code Extension
