Repository dotnet/interactive, pull requests merged in 2022-11, with the labels that each got.

#2406 js kernel can evaluate javascript code
  src/microsoft-dotnet-interactive/src/htmlKernel.ts
  src/microsoft-dotnet-interactive/tests/htmlKernel.test.ts
Labels: bug, Area-JavaScript HTML CSS

#2424 removing interactive window from vscode
  src/dotnet-interactive-vscode-common/src/commands.ts
  src/dotnet-interactive-vscode-insiders/package.json
  src/dotnet-interactive-vscode-insiders/src/notebookControllers.ts
  src/dotnet-interactive-vscode/package.json
  src/dotnet-interactive-vscode/src/notebookControllers.ts
Labels: Area-VS Code Extension

#2440 kql and sql fix when variable shared doesn't exist
  src/Microsoft.DotNet.Interactive.Kql.Tests/KqlConnectionTests.cs
  src/Microsoft.DotNet.Interactive.SqlServer.Tests/MsSqlConnectionTests.cs
  src/Microsoft.DotNet.Interactive.SqlServer/ToolsServiceKernel.cs
Labels: Area-SQL / data querying, Area-Variable sharing

#2445 Adding more tags
  src/dotnet-interactive-vscode-insiders/package.json
  src/dotnet-interactive-vscode/package.json
Labels: Area-VS Code Extension

#2471 better api surface for routing slips
  .github/release.yml
  src/Microsoft.DotNet.Interactive.ApiCompatibility.Tests/ApiCompatibilityTests.Interactive_api_is_not_changed.approved.txt
  src/Microsoft.DotNet.Interactive.Tests/CommandRoutingSlipTests.cs
  src/Microsoft.DotNet.Interactive.Tests/EventRoutingSlipTests.cs
  src/Microsoft.DotNet.Interactive/CommandRoutingSlip.cs
  src/Microsoft.DotNet.Interactive/Connection/ProxyKernel.cs
  src/Microsoft.DotNet.Interactive/EventRoutingSlip.cs
  src/Microsoft.DotNet.Interactive/RoutingSlip.cs
  src/microsoft-dotnet-interactive/src/proxyKernel.ts
  src/microsoft-dotnet-interactive/src/routingslip.ts
Labels: Area-Messaging and Comms

#2466 register everything for disposal
  src/Microsoft.DotNet.Interactive.Jupyter/Shell.cs
  src/Microsoft.DotNet.Interactive/Connection/CompositeKernelExtensions.cs
  src/Microsoft.DotNet.Interactive/KernelExtensions.cs
  src/dotnet-interactive-vscode-common/src/activeNotebookTracker.ts
  src/dotnet-interactive-vscode-common/src/extension.ts
  src/dotnet-interactive-vscode-common/src/interactiveClient.ts
  src/dotnet-interactive-vscode-common/src/stdioDotnetInteractiveChannel.ts
  src/dotnet-interactive/CommandLine/CommandLineParser.cs
Labels: Area-VS Code Extension

#2409 Update arcade and use -Svc pools for release/rename branch
  azure-pipelines.yml
  eng/common/templates/job/execute-sdl.yml
  eng/common/templates/job/onelocbuild.yml
  eng/common/templates/job/source-build.yml
  eng/common/templates/job/source-index-stage1.yml
  eng/common/templates/jobs/jobs.yml
  eng/common/templates/post-build/post-build.yml
  eng/publish/publish-npm.yml
Labels: Area-Build & Infrastructure

#2498 update packages and entity framework
  src/Microsoft.DotNet.Interactive.AspNetCore.Tests/Microsoft.DotNet.Interactive.AspNetCore.Tests.csproj
  src/Microsoft.DotNet.Interactive.CSharpProject/Microsoft.DotNet.Interactive.CSharpProject.csproj
  src/Microsoft.DotNet.Interactive.Documents/Microsoft.DotNet.Interactive.Documents.csproj
  src/Microsoft.DotNet.Interactive.Formatting/Microsoft.DotNet.Interactive.Formatting.csproj
  src/Microsoft.DotNet.Interactive.Http/Microsoft.DotNet.Interactive.Http.csproj
  src/Microsoft.DotNet.Interactive.Jupyter/Microsoft.DotNet.Interactive.Jupyter.csproj
  src/Microsoft.DotNet.Interactive.Kql/Microsoft.DotNet.Interactive.Kql.csproj
  src/Microsoft.DotNet.Interactive.PowerShell/Microsoft.DotNet.Interactive.PowerShell.csproj
  src/Microsoft.DotNet.Interactive.SqlServer/ConnectMsSqlCommand.cs
  src/Microsoft.DotNet.Interactive.SqlServer/Microsoft.DotNet.Interactive.SqlServer.csproj
  src/Microsoft.DotNet.Interactive/Microsoft.DotNet.Interactive.csproj
  src/dotnet-interactive.Tests/dotnet-interactive.Tests.csproj
  src/dotnet-interactive/dotnet-interactive.csproj
Labels: Area-SQL / data querying

#2499 update packages
  eng/perf-tests/perf-tests.csproj
  src/Microsoft.DotNet.Interactive.ApiCompatibility.Tests/Microsoft.DotNet.Interactive.ApiCompatibility.Tests.csproj
  src/Microsoft.DotNet.Interactive.AspNetCore.Tests/Microsoft.DotNet.Interactive.AspNetCore.Tests.csproj
  src/Microsoft.DotNet.Interactive.Browser.Tests/Microsoft.DotNet.Interactive.Browser.Tests.csproj
  src/Microsoft.DotNet.Interactive.Browser/Microsoft.DotNet.Interactive.Browser.csproj
  src/Microsoft.DotNet.Interactive.CSharp.Tests/Microsoft.DotNet.Interactive.CSharp.Tests.csproj
  src/Microsoft.DotNet.Interactive.CSharpProject.Tests/Microsoft.DotNet.Interactive.CSharpProject.Tests.csproj
  src/Microsoft.DotNet.Interactive.Documents.Tests/Microsoft.DotNet.Interactive.Documents.Tests.csproj
  src/Microsoft.DotNet.Interactive.ExtensionLab.Tests/Microsoft.DotNet.Interactive.ExtensionLab.Tests.csproj
  src/Microsoft.DotNet.Interactive.FSharp.Tests/Microsoft.DotNet.Interactive.FSharp.Tests.fsproj
  src/Microsoft.DotNet.Interactive.Formatting.Tests/Microsoft.DotNet.Interactive.Formatting.Tests.csproj
  src/Microsoft.DotNet.Interactive.Journey.Tests/Microsoft.DotNet.Interactive.Journey.Tests.csproj
  src/Microsoft.DotNet.Interactive.Jupyter.Tests/Microsoft.DotNet.Interactive.Jupyter.Tests.csproj
  src/Microsoft.DotNet.Interactive.Kql.Tests/Microsoft.DotNet.Interactive.Kql.Tests.csproj
  src/Microsoft.DotNet.Interactive.Mermaid.Tests/Microsoft.DotNet.Interactive.Mermaid.Tests.csproj
  src/Microsoft.DotNet.Interactive.PowerShell.Tests/Microsoft.DotNet.Interactive.PowerShell.Tests.csproj
  src/Microsoft.DotNet.Interactive.SqlServer.Tests/Microsoft.DotNet.Interactive.SqlServer.Tests.csproj
  src/Microsoft.DotNet.Interactive.Telemetry.Tests/Microsoft.DotNet.Interactive.Telemetry.Tests.csproj
  src/Microsoft.DotNet.Interactive.Tests/Microsoft.DotNet.Interactive.Tests.csproj
  src/dotnet-interactive.Tests/dotnet-interactive.Tests.csproj
Labels: Area-Build & Infrastructure

#2501 default port range for jupyter
  src/Microsoft.DotNet.Interactive.Http/HttpPortRange.cs
  src/dotnet-interactive.Tests/CommandLine/CommandLineParserTests.cs
Labels: bug, Area-Jupyter Kernel

#2503 use button to share variables
  src/dotnet-interactive-vscode-common/src/variableExplorer.ts
  src/microsoft-dotnet-interactive/src/webview/variableGrid.ts
  src/microsoft-dotnet-interactive/src/webview/variableGridInterfaces.ts
Labels: Area-VS Code Extension, Area-Variable sharing, Area-Accessibility

#2509 move test retry logic into separate script
  azure-pipelines.yml
  test-retry-runner.ps1
Labels: Area-Build & Infrastructure

#2510 update buildalyzer
  src/Microsoft.DotNet.Interactive.CSharpProject/Microsoft.DotNet.Interactive.CSharpProject.csproj
Labels: Area-Build & Infrastructure

#2518 upgrade SignalR
  src/microsoft-dotnet-interactive-browser/package-lock.json
  src/microsoft-dotnet-interactive-browser/package.json
Labels: Area-Build & Infrastructure

#2519 update to F# 7
  Directory.Build.targets
  src/Microsoft.DotNet.Interactive.ApiCompatibility.Tests/ApiCompatibilityTests.jupyter_api_is_not_changed.approved.txt
  src/Microsoft.DotNet.Interactive.FSharp/FSharpKernel.fs
  src/Microsoft.DotNet.Interactive.FSharp/FsAutoComplete/DocumentationFormatter.fs
  src/Microsoft.DotNet.Interactive.FSharp/FsAutoComplete/InteractiveDirectives.fs
  src/Microsoft.DotNet.Interactive.FSharp/FsAutoComplete/KeywordList.fs
  src/Microsoft.DotNet.Interactive.FSharp/FsAutoComplete/Lexer.fs
  src/Microsoft.DotNet.Interactive.FSharp/FsAutoComplete/ParseAndCheckResults.fs
  src/Microsoft.DotNet.Interactive.FSharp/FsAutoComplete/SignatureFormatter.fs
  src/Microsoft.DotNet.Interactive.FSharp/FsAutoComplete/TipFormatter.fs
  src/Microsoft.DotNet.Interactive.FSharp/FsAutoComplete/TypedAstPatterns.fs
  src/Microsoft.DotNet.Interactive.FSharp/FsAutoComplete/TypedAstUtils.fs
  src/Microsoft.DotNet.Interactive.FSharp/FsAutoComplete/Utils.fs
  src/Microsoft.DotNet.Interactive.FSharp/Microsoft.DotNet.Interactive.FSharp.fsproj
  src/Microsoft.DotNet.Interactive.Jupyter/Protocol/LanguageInfo.cs
  src/Microsoft.DotNet.Interactive.Kql/Microsoft.DotNet.Interactive.Kql.csproj
  src/Microsoft.DotNet.Interactive.Tests/LanguageServices/HoverTextTests.cs
Labels: Area-F#

#2528 update packages
  Directory.Build.props
  src/Microsoft.DotNet.Interactive.CSharpProject/Microsoft.DotNet.Interactive.CSharpProject.csproj
  src/Microsoft.DotNet.Interactive.Kql/Microsoft.DotNet.Interactive.Kql.csproj
Labels: Area-Build & Infrastructure

#2530 capture stdout/stderr in perl kernel
  samples/stand-alone-kernels/perl/kernel.pl
Labels: Area-Documentation

#2529 cache variable explorer rows
  src/dotnet-interactive-vscode-common/src/clientMapper.ts
  src/dotnet-interactive-vscode-common/src/commands.ts
  src/dotnet-interactive-vscode-common/src/variableExplorer.ts
Labels: Area-VS Code Extension, Area-Performance, Area-Variable sharing
