Repository dotnet/interactive, pull requests merged in 2022-12, with the labels that each got.

#2535 ensure merging well known kernels
  src/Microsoft.DotNet.Interactive.ApiCompatibility.Tests/ApiCompatibilityTests.Document_api_is_not_changed.approved.txt
  src/Microsoft.DotNet.Interactive.Documents.Tests/NotebookParserServerTests_ObjectInterface.cs
  src/Microsoft.DotNet.Interactive.Documents/CodeSubmission.cs
  src/Microsoft.DotNet.Interactive.Documents/InteractiveDocument.cs
  src/Microsoft.DotNet.Interactive.Documents/Jupyter/Notebook.cs
  src/Microsoft.DotNet.Interactive.Documents/ParserServer/NotebookParserServer.cs
Labels: bug

#2537 improve zmq
  src/Microsoft.DotNet.Interactive.ApiCompatibility.Tests/ApiCompatibilityTests.jupyter_api_is_not_changed.approved.txt
  src/Microsoft.DotNet.Interactive.Jupyter/Messaging/Message.cs
  src/Microsoft.DotNet.Interactive.Jupyter/ZMQ/MessageSender.cs
  src/Microsoft.DotNet.Interactive.Jupyter/ZMQ/SignatureValidator.cs
Labels: Area-Jupyter Kernel, Area-Jupyter sub-kernels

#2540 sort kernel picker values by name
  src/dotnet-interactive-vscode-common/src/kernelSelectorUtilities.ts
Labels: Area-VS Code Extension

#2539 use vscode output append apis where possible
  NotebookTestScript.dib
  src/dotnet-interactive-vscode-common/src/activeNotebookTracker.ts
  src/dotnet-interactive-vscode-common/src/extension.ts
  src/dotnet-interactive-vscode-common/src/interactiveClient.ts
  src/dotnet-interactive-vscode-common/src/notebookWatcherService.ts
  src/dotnet-interactive-vscode-common/src/serviceCollection.ts
  src/dotnet-interactive-vscode-common/tests/client.test.ts
  src/dotnet-interactive-vscode-common/tests/notebook.test.ts
  src/dotnet-interactive-vscode-insiders/src/notebookControllers.ts
  src/dotnet-interactive-vscode/src/notebookControllers.ts
Labels: Area-VS Code Extension, Area-Performance

#2543 put http request kernel behind "--preview" flag
  src/dotnet-interactive-vscode-insiders/package.json
  src/dotnet-interactive-vscode-insiders/tests/package.json.test.ts
  src/dotnet-interactive-vscode/UPDATING-TO-NEW-VERSION-OF-STABLE.md
  src/dotnet-interactive-vscode/copy-package-json.ps1
  src/dotnet-interactive-vscode/tests/package.json.test.ts
  src/dotnet-interactive.Tests/CommandLine/CommandLineParserTests.cs
  src/dotnet-interactive/CommandLine/CommandLineParser.cs
  src/dotnet-interactive/CommandLine/StartupOptions.cs
Labels: Area-Build & Infrastructure

#2544 adding html fotmatting
  src/Microsoft.DotNet.Interactive.AspNetCore/Microsoft.DotNet.Interactive.AspNetCore.csproj
  src/Microsoft.DotNet.Interactive.HttpRequest/HttpRequestKernel.cs
  src/Microsoft.DotNet.Interactive.HttpRequest/HttpRequestKernelExtension.cs
Labels: Area-JavaScript HTML CSS

#2549 Update packages
  src/Microsoft.DotNet.Interactive.CSharpProject/Microsoft.DotNet.Interactive.CSharpProject.csproj
  src/Microsoft.DotNet.Interactive.ExtensionLab/Microsoft.DotNet.Interactive.ExtensionLab.csproj
  src/Microsoft.DotNet.Interactive.HttpRequest/Microsoft.DotNet.Interactive.HttpRequest.csproj
Labels: Area-Build & Infrastructure

#2550 modify list
  src/Microsoft.DotNet.Interactive.Documents/ParserServer/NotebookParserServer.cs
Labels: Area-Build & Infrastructure

#2551 update Type html formatter
  NotebookTestScript.dib
  src/Microsoft.DotNet.Interactive.Formatting.Tests/HtmlFormatterTests.cs
  src/Microsoft.DotNet.Interactive.Formatting/HtmlFormatter.cs
  src/Microsoft.DotNet.Interactive.Formatting/PlainTextFormatter.cs
  src/Microsoft.DotNet.Interactive.Jupyter.Tests/MagicCommandTests.who_and_whos.cs
Labels: Area-Formatting

#2562 handling add markdown cell in vscode
  NotebookTestScript.dib
  src/dotnet-interactive-vscode-common/src/extension.ts
Labels: bug, Area-VS Code Extension

#2486 Clarify that `#r` can reference system assemblies
  docs/magic-commands.md
Labels: Area-Documentation

#2572 remove usage of dictionary
  dotnet-interactive.sln.DotSettings
  src/Microsoft.DotNet.Interactive.ExtensionLab/DataFrameKernelExtension.cs
  src/Microsoft.DotNet.Interactive.ExtensionLab/System.Collections.Generic/EnumerableExtensions.cs
  src/Microsoft.DotNet.Interactive.Formatting/JsonExtensions.cs
  src/Microsoft.DotNet.Interactive.Formatting/TabularData/TabularDataResourceFormatter.cs
Labels: Area-Formatting

#2571 Ensure shared values do not clutter sql and kql result sets
  src/Microsoft.DotNet.Interactive.Kql.Tests/KqlConnectionTests.cs
  src/Microsoft.DotNet.Interactive.SqlServer.Tests/MsSqlConnectionTests.cs
Labels: Area-Build & Infrastructure

#2575 fix display names
  samples/notebooks/polyglot/polyglot telemetry.dib
  src/Microsoft.DotNet.Interactive.ExtensionLab/SQLiteKernel.cs
  src/Microsoft.DotNet.Interactive.Kql/MsKqlKernel.cs
  src/Microsoft.DotNet.Interactive.SqlServer/MsSqlKernel.cs
Labels: Area-SQL / data querying
