Repository dotnet/interactive, pull requests merged in 2023-01, with the labels that each got.

#2580 use new package name
  eng/publish/PublishVSCodeExtension.ps1
  src/dotnet-interactive-vscode-insiders/package-lock.json
  src/dotnet-interactive-vscode-insiders/package.json
  src/dotnet-interactive-vscode/package-lock.json
  src/dotnet-interactive-vscode/package.json
Labels: Area-Build & Infrastructure

#2592 apply the appropriate language configuration as the selected cell changes
  src/dotnet-interactive-vscode-common/src/dynamicGrammarSemanticTokenProvider.ts
  src/dotnet-interactive-vscode-common/src/extension.ts
  src/dotnet-interactive-vscode-common/src/kernelInfoUpdaterService.ts
  src/dotnet-interactive-vscode-common/src/languageConfigurationManager.ts
  src/dotnet-interactive-vscode-common/src/notebookCellStatusBarItemProvider.ts
  src/dotnet-interactive-vscode-common/src/serviceCollection.ts
  src/dotnet-interactive-vscode-common/tests/dynamicGrammarSemanticTokenProvider.test.ts
  src/dotnet-interactive-vscode-insiders/grammars/http.language-configuration.json
  src/dotnet-interactive-vscode-insiders/grammars/kql.language-configuration.json
  src/dotnet-interactive-vscode/grammars/http.language-configuration.json
  src/dotnet-interactive-vscode/grammars/kql.language-configuration.json
  src/microsoft-dotnet-interactive/src/connection.ts
Labels: bug, Area-VS Code Extension

#2593 attempt to show variables when first activated
  src/dotnet-interactive-vscode-common/src/variableExplorer.ts
Labels: bug, Area-VS Code Extension

#2605 html kernel evals script tags
  src/Microsoft.DotNet.Interactive.Browser.Tests/HtmlKernelTests.cs
  src/microsoft-dotnet-interactive/src/htmlKernel.ts
  src/microsoft-dotnet-interactive/tests/htmlKernel.test.ts
Labels: bug, Area-JavaScript HTML CSS

#2640 formatting decimal
  src/Microsoft.DotNet.Interactive.Formatting.Tests/HtmlFormatterTests.cs
  src/Microsoft.DotNet.Interactive.Formatting/HtmlFormatter.cs
Labels: Area-Formatting

#2650 CSS handling multiline code
  src/Microsoft.DotNet.Interactive.Tests/LanguageKernelFormattingTests.cs
  src/Microsoft.DotNet.Interactive/Kernel.Static.cs
Labels: bug, Area-Formatting
